body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    list-style: none;
    padding: 0;
    background: darkslategray;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: beige;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: justify;
}
.menu li a:hover{
    background: rosybrown;
}
h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 25px;
}