body {
    background-color: rosybrown;
}
h2{
    color:brown;
    text-align: center;
}
p{
    color:black;
    font-size: 24px;
    font-family: Helvetica;
    text-align: justify;
}
h1{
    text-align: center;
}
